body {
    background-color: #ff4c24;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    margin-bottom:10px;
    
  }
  h1{
    text-align:center;
    font-size:50px;
    font-weight:boid;
    padding-top:30px;
    padding-bottom:10px;
    font-weight:bold;
    display:flex;
    list-style: none;
    justify-content: center;
  }
  main-header:first-letter{
    background-color: black;
    padding: 20px 40px;
    justify-content: center;}
  .main-header:first-letter {
  nav ul li{
    margin-left:40px;
    padding-bottom:20px;
  }
  h2{
    font-size:25px;
    font-weight: bold;
    text-align:center;
    padding:20px 40px;
    background-color: blue;
    position:relative
  }
  p{
    padding:20px;
  }
  span{
    font-size: 30px;
    padding: 20px;
    padding: 5px;
  }
  article{
    width:500px;
    padding:20px;
    border:solid 5px green;
    margin-left:10px;
    box-sizing: border-box;
  }
  .sale{
    background-color:green;
    color:white;
    display: inline-block;
    position:absolute;
    right:0px;
    top:30px;
    box-shadow: 5px 12px 12px black;
  }
  .card {
    width: 800px;
    display: flex;
    border-radius: 15px;
    overflow:hidden;
  }
  .left {
    width: 70%;
    background-color: #3D4149 ;
    position:relative
  }
  .right {
    width: 30%;
    background-color: red;
    background-image:url(https://agirls.aottercdn.com/media/b9b92ab8-16fd-41f0-8981-913ec2783a9e.jpg);
    background-size:cover;
    background-position: center;
  }
  h2 {
    font-size: 20px;
  }
  product_ul li:first-child{
    display: flex;
  }
  .rank_List li{
    border: solid 1px red;
    display: inline-block;
    margin-left: 20px;
    padding: 5px 10px;
    margin-bottom: 20px;
  }
  h2::after{
    content:"!!!!!!!";
    font-size: 20px;
    font-weight: bold;
    background-color: green;
    padding:5px 10px;
    display: inline-block;
    position:absolute;
    right:1px;
    padding: 5px 10px;
  }